*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins','sans-serif';
}

header{
    background-image: url(./images/ec7d1082a659d96d896a773621e214c8f01b123c.jpg);
}

.head{
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}


.container{
    max-width: 1480px;
    margin: 0 auto;
}


.header-logo{
    width: 25%;
    display: flex;
    justify-content: center;
}
.header-right{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.header-top{
    display: flex;
    flex-direction: column;
    align-items: end;
}


.vector-div{
    display: flex;
    background-image: url(./images/Vector\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    font-size: 14px;
    gap: 218px;
    padding: 10px 0px;
    max-width: 1286px;
    width: 100%;
    justify-content: center;
}

.vector-nav{
    display: flex;
    gap: 49px;
}

.vector-socials{
    display: flex;
    gap: 10px;
}

.vector-socials img{
    width: 16.8px;
}

.header-bottom{
    background-color: #ED1C25;
    display: flex;
    gap: 86px;
    font-weight: 600;
    font-size: 17px;
    padding: 10px 10px;
    width: 100%;
    margin-top: -40px;
    justify-content: end;
}

.header-bottom span{
    margin-left: 6px;
}

.header-middle{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.middle-span{
    display: flex;
    gap: 24px;
}

.middle-span img{
    width: 22.21px;
    height: 22.21px;
    margin-right: 10px;
}

.middle-buttons{
    display: flex;
    gap: 25px;
}

.middle-buttons button:nth-child(1){
    padding: 13px 8px;
    width: 196px;
    border: none;
    background: linear-gradient(to right,#ED1C25,#5F0004);
    color: white;
    font-weight: 600;
}

.middle-buttons button:nth-child(1) img{
    height: 21px;
    width: 21px;
    margin-right: 6px;
    color: white;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%) hue-rotate(337deg) brightness(105%) contrast(100%);
}

.middle-buttons button:nth-child(2){
    width: 196px;
    padding: 13px 8px;
    border : 2px solid;
    border-image: linear-gradient(to top right, #620105, #E91B24) 1;
    font-weight: 600;
}

.hero-section{
    display: flex;
    background-image: url(./images/hero-background.png);
    background-color: #221F1F;
    background-position: bottom;
    background-size: cover;
}

.hero-left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-left-content{
    max-width: 530px;
    color:white;
}

.hero-left-content h2{
    font-weight: 600;
    font-size: 52px;
    letter-spacing: -2px;
    line-height: 60px;
    vertical-align: middle;
    margin-bottom: 36px;
}

.hero-left-content p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 36px;
}

.hero-buttons{
    display: flex;
    gap: 25px;
}

.hero-buttons button:nth-child(1){
    display: flex;
    gap: 10px;
    padding: 13px 8px;
    background: linear-gradient(to right, #ED1C25, #5F0004);
    max-width: 214px;
    border:none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.hero-buttons button:nth-child(1) img{
    width: 21px;
    height: 21px;
    transform: rotate(45deg);
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%) hue-rotate(337deg) brightness(105%) contrast(100%);
}

.hero-buttons button:nth-child(2){
    padding: 13px 8px;
    border: 2px solid;
    border-image: linear-gradient(to bottom,#E91B24,#620105) 1;
    background-color: transparent;
    color: white;
}



.hero-right{
    width: 50%;
    overflow: hidden;
}



.trusted-companies-section{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 31px 0px;
    box-shadow: 0px 25px 90px 0px rgba(8, 23, 51, 0.12);
}

.trusted-companies{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 80px;
    margin: 0px 52px;
}

.trusted-companies h3{
    font-size: 22px;
    font-weight: 500;
    color: #293348;
    width: 219px;
}

.companies{
    display: flex;
    gap: 65px;
    align-items: center;
}

.quality-section{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #fefefe;
}